@import "destyle.css/destyle.min.css";

/* deno-fmt-ignore */
@font-face {
	font-family: "Libre Franklin Variable";
	font-style: normal;
	font-display: swap;
	font-weight: 100 900;
	src: url(@fontsource-variable/libre-franklin/files/libre-franklin-latin-wght-normal.woff2) format("woff2-variations");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* deno-fmt-ignore */
@font-face {
	font-family: "Libre Franklin Variable";
  font-style: italic;
  font-display: swap;
  font-weight: 100 900;
  src: url(@fontsource-variable/libre-franklin/files/libre-franklin-latin-wght-italic.woff2) format("woff2-variations");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* deno-fmt-ignore */
@font-face {
	font-family: "Mozilla Headline Variable";
	font-style: normal;
	font-display: swap;
	font-weight: 200 700;
	font-stretch: 75% 125%;
	src: url(@fontsource-variable/mozilla-headline/files/mozilla-headline-latin-wdth-normal.woff2) format("woff2-variations");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
	font-family: "Libre Franklin Variable", sans-serif;
	/* font-variant-east-asian: jis90; */
	font-synthesis: style position;

	color-scheme: light dark;
	--at-apply: "bg-white/100 text-neutral-700/100 dark:(bg-stone-950/100 text-neutral-300/100)";

	scrollbar-width: thin;
	scroll-behavior: smooth;
}

a {
	text-decoration: underline;
}

@keyframes shake {
	10%, 90% {
		transform: translateX(-0.0625rem);
	}
	20%, 80% {
		transform: translateX(0.125rem);
	}
	30%, 50%, 70% {
		transform: translateX(-0.25rem);
	}
	40%, 60% {
		transform: translateX(0.25rem);
	}
}

@keyframes flip {
	from {
		rotate: x -180deg;
	}
	to {
		rotate: x 0deg;
	}
}

@keyframes bounce {
	0%, 20% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-2rem);
	}
	50% {
		transform: translateY(0.25rem);
	}
	60% {
		transform: translateY(-1rem);
	}
	80% {
		transform: translateY(0.125rem);
	}
	100% {
		transform: translateY(0);
	}
}
